h1 {
    color: red;
  }
  img {
      width: 400px
  }
  #ThirDiv{
      border: 10px solid tomato;
      padding: 50px;
      height: 500px;
      width: 600px;
      background-color: salmon;
  }
  #spanid {
      margin: 50px;
      font-size: 18px;
  }